$main-color: #373737;
$buttons-color: #FF7532;
$max-width-const: 1200px;

@function get-vw($px-vw, $base-vw: 1292px) {
	@return ($px-vw * 100vw) / $base-vw;
}

@mixin get-fs-lh($font-size-in-px, $line-height-in-px, $base) {
	font-size: get-vw($font-size-in-px, $base);
	line-height: get-vw($line-height-in-px, $base);
}


body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	color: $main-color;

	background-color: #55A1EE;

	span {
		color: #FF7532;
	}
}

body:not(.iti-mobile) {
	.iti__country-list {
		white-space: normal;
		width: 315px;
		right: 0;
	}
}

.desktopForm-container {
	@media screen and (min-width:768px) {
		max-width: initial;
		padding: 0 1.5rem;
	}

	// @media screen and (min-width:1200px) {
	// 	max-width: 0px;
	// 	padding-left: 32rem;
	// 	margin: 0 auto;
	// }
}

.upper-logo {
	background-color: #FFFFFF;
}

header {
	.header {
		@media screen and (min-width: 1200px) {
			background: url('../../images/header-desktop.jpg') no-repeat center;
			background-size: cover;
			background-position: center;
			height: 1145px !important;
		}

		@media screen and (min-width: 1600px) {
			background-position: center;
		}

		.container-content {
			top: 0;
			position: absolute;

			.content {
				padding: 0;
				overflow: hidden;
				padding-top: 7vw;
				text-align: center;

				@media screen and (min-width: 576px) {
					padding-top: 9vw;
					// padding-left: 13vw;
					max-width: 100%;
					margin: 0;
				}

				@media screen and (min-width: 1200px) {
					padding: 0;
					padding-left: 0;
					max-width: 1070px;
					margin: 0 auto;
					margin-top: 8rem;
				}

				.header-wrapper {
					@media screen and (min-width: 1200px) {
						display: flex;
						flex-direction: column;
						align-items: center;
					}

					img {
						max-width: 90%;
						margin: 20px auto;
					}
				}

				h1 {
					font-weight: 700;
					@include get-fs-lh(45px, 68.866px, 575px);
					text-align: center;

					@media screen and (min-width: 576px) {
						@include get-fs-lh(53.081px, 68.866px, 1199px);
					}

					@media screen and (min-width:1200px) {
						font-size: 85px;
						line-height: 110.277px;
						margin-bottom: 3rem;
					}

					span {
						display: inline-block;

						background: linear-gradient(180deg,
								#FFFD99 0%,
								#FFFD99 25%,
								#FFE60E 70%,
								#FFD400 100%);

						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						background-clip: text;
						color: transparent;
					}
				}

				p {
					color: #FFF;
					font-weight: 400;
					@include get-fs-lh(20px, 25.947px, 575px);
					text-align: center;
					max-width: 81vw;
					margin: 1rem auto 0;

					@media screen and (min-width: 450px) {
						margin: 3rem auto 1rem;
					}


					@media screen and (min-width: 576px) {
						@include get-fs-lh(20px, 25.947px, 1199px);
					}

					@media screen and (min-width:1200px) {
						font-size: 25px;
						line-height: 32.434px;
						margin: 0 auto 1rem;
					}

					span {
						color: #003F7F;
						font-weight: 700;
						background: #FFE60E;
						border-radius: 5px;
					}
				}



			}
		}
	}


}

main {

	.section-1 {
		max-width: 95%;
		margin: 2rem auto;
		margin-top: 11rem;

		@media screen and (min-width:380px) {
			margin-top: 6rem;
		}

		@media screen and (min-width:430px) {
			margin-top: 4rem;
		}

		@media screen and (min-width:500px) {
			margin-top: 0;
		}

		@media screen and (min-width:576px) {
			margin: 16rem auto 2rem;
		}

		@media screen and (min-width:688px) {
			margin: 11rem auto 2rem;
		}

		@media screen and (min-width:918px) {
			margin: 8rem auto 2rem;
		}

		@media screen and (min-width:1070px) {
			margin: 2rem auto 2rem;
		}

		@media screen and (min-width:1200px) {
			max-width: 1170px;
			margin: 0 auto;
		}

		.section-1-wrapper {
			justify-content: center;
			display: flex;
			align-items: flex-start;
			gap: 30px;
			align-self: stretch;
			align-items: stretch;
			flex-direction: column;

			@media screen and (min-width:500px) {
				flex-direction: row;
			}

			.section-1-card {
				display: flex;
				padding: 34px 0 33.423px 0;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 13.577px;
				flex: 1 0 0;
				background: #FFF;

				p {
					color: #55A1EE;
					font-family: "Noto Sans";
					font-size: 22px;
					font-weight: 700;
				}

				h3 {
					color: #55A1EE;
					font-family: "Noto Sans";
					font-size: 65.154px;
					font-weight: 700;
				}
			}
		}

		h4 {
			color: #FFF;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 50px;
			font-style: normal;
			font-weight: 700;
			margin: 3rem auto;
		}

		p {
			color: #FFF;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 20px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}

	.carousel-parent {
		max-width: 85%;
		margin: 2rem auto;

		@media screen and (min-width: 992px) {
			max-width: 1119px !important;
		}

		@media screen and (min-width: 1200px) {
			max-width: 1313px !important;
			padding: 0;
		}

		.circle {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 28px;
			margin-bottom: 2rem;

			p {
				color: #FFF;
				font-size: 50px;
				font-weight: 700;
				margin-bottom: 0;

				@media screen and (min-width: 576px) {
					font-size: 88.235px;
				}
			}

			img {
				margin: 0;
			}
		}

		.carousel-title {
			display: flex;
			align-items: center;
			justify-content: space-evenly;

			img {
				display: none;

				@media screen and (min-width: 1200px) {
					display: block;
				}
			}

			.sec-title {
				font-size: 40px;

				@media screen and (min-width: 992px) {
					font-size: 75px;
				}
			}
		}

		h2 {
			color: #FFF;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 50px;
			font-weight: 700;

			@media screen and (min-width: 992px) {
				font-size: 65px;
			}

			@media screen and (min-width: 1200px) {
				font-size: 75px;
			}
		}

		.carousel-max {
			font-family: 'Noto Sans', sans-serif;
			padding: 3rem 0;

			@media screen and (min-width:1200px) {
				padding: 4rem 1rem;
			}

			img {
				margin: 0;
			}


			h3 {
				color: #000;
				font-weight: 700;
				font-size: 50px;
				line-height: 68px;
				text-align: center;

				@media screen and (min-width:1200px) {
					text-align: left;
				}
			}

			.cards {
				display: flex;
				gap: 2rem;
				flex-direction: column;
				margin: 0;

				@media screen and (min-width:768px) {
					gap: 0;
					justify-content: center;
				}
			}

			.card {
				padding: 34.945px 45.392px 37px 45.52px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				border: 4px solid #FE7F15;
				background: #FFF;
				margin: 0 auto 1rem;

				@media screen and (min-width:1200px) {
					padding: 16.5px 23px 16.5px 0px;
					flex-direction: row;
				}

				p {
					color: #333;
					font-weight: 400;
					font-size: 25px;
					line-height: 34px;
					text-align: center;

					@media screen and (min-width:1200px) {
						text-align: left;
					}
				}

				.card-box {
					display: flex;
					flex-direction: column;
					align-items: center;

					@media screen and (min-width:1200px) {
						align-items: flex-start;
					}
				}
			}
		}
	}

	.boxes-section {
		max-width: 85%;
		margin: 0 auto;

		@media screen and (min-width: 1200px) {
			max-width: 1170px;
		}

		p {
			color: #FFF;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 20px;
			font-weight: 400;
		}

		.boxes-wrapper {
			display: flex;
			align-items: stretch;
			gap: 30px;
			align-self: stretch;
			justify-content: center;
			flex-direction: column;

			@media screen and (min-width: 992px) {
				flex-direction: row;
				margin-top: 3rem;
			}

			.box {
				border-radius: 20px;
				background: #FFF;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.box-small {
					padding: 50px 50px 15px 50px;
				}

				h3 {
					color: #55A1EE;
					text-align: center;
					font-family: "Noto Sans";
					font-size: 22px;
					margin-bottom: 2rem;
					font-weight: 700;
				}

				p {
					color: #333;
					text-align: center;
					font-family: "Noto Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 16.318px;
				}

				img {
					margin: 0;
					border-radius: 0 0 20px 20px;

					@media screen and (min-width: 992px) {
						max-width: 456px;
					}

					@media screen and (min-width: 1108px) {
						max-width: 500px;
					}

					@media screen and (min-width: 1200px) {
						max-width: unset;
					}
				}
			}
		}
	}

	.button-section {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;
		margin-top: 5rem;

		.cta-btn {
			margin: 0;
			width: initial;
			font-size: 17px;
			border-radius: 500px;
			text-align: left;
			padding: 18px 15px 18px 125px;
			line-height: 20.452px;

			@media screen and (min-width: 340px) {
				padding: 18px 32px 18px 126px;
			}

			@media screen and (min-width: 362px) {
				padding: 18px 10px 18px 133px;
			}

			@media screen and (min-width: 393px) {
				padding: 18px 35px 18px 136px;
			}

			@media screen and (min-width: 444px) {
				padding: 18px 20px 18px 136px;

			}

			@media screen and (min-width: 543px) {
				padding: 18px 27px 18px 146px;
				font-size: 35px;
				line-height: 38.452px;
			}

			@media screen and (min-width: 992px) {
				padding: 18px 50px 18px 154px;
			}

			@media screen and (min-width: 1200px) {
				padding: 18px 123px 18px 154px;
			}
		}


		img {
			margin: 0;
			position: absolute;
			left: 0;
			top: -26px;

			@media screen and (min-width: 362px) {
				top: -46px;
			}

			@media screen and (min-width: 440px) {
				// left: 18px;
				top: -67px;
			}

			@media screen and (min-width: 543px) {
				top: 8px;
				left: 22px;
			}

			@media screen and (min-width: 657px) {
				top: -31px;
			}

			@media screen and (min-width: 1105px) {
				top: -70px;
				left: -8px;
			}

			@media screen and (min-width: 1200px) {
				left: 18px;
			}
		}
	}

	.article-section {

		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 90%;
		margin: 0 auto;

		@media screen and (min-width: 1100px) {
			display: flex;
			align-items: center;
			gap: 1rem;
			flex-direction: row;
		}

		@media screen and (min-width: 1200px) {
			gap: 2rem;
			max-width: 1170px;
		}

		&.container {
			@media screen and (min-width: 992px) {
				max-width: 1119px !important;
			}

			@media screen and (min-width: 1200px) {
				max-width: 1170px !important;
				margin: 6rem auto;
			}
		}



		h3 {
			color: #030C45;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 60px;
			font-weight: 700;
			line-height: 77.842px;
			margin: 0 auto 1rem;
			background: #FFE60E;

		}

		.first-h3 {
			@media screen and (min-width: 1200px) {
				width: 459px;
				margin: 0;
				margin-bottom: 1rem;
			}
		}

		p {
			color: #FFF;
			text-align: left;
			font-family: "Noto Sans";
			font-size: 20px;
			font-weight: 400;
			line-height: 27px;
		}
	}

	.box-article {
		background: #FFF;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 40px 0 40px;
		justify-content: space-between;
		flex: 1 0 0;

		@media screen and (min-width: 992px) {
			height: 500px;
			overflow: hidden;
		}

		img {
			margin: 0;
		}

		h3 {
			color: #55A1EE;
			font-family: "Noto Sans";
			font-size: 22px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-align: center;
			background: unset;

		}

		p {
			color: #333;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}

	.article-second {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;

		@media screen and (min-width: 992px) {
			flex-direction: row;
		}
	}

	.last-section {
		margin-top: 5rem;
		margin-bottom: 3rem;
		max-width: 85%;

		@media screen and (min-width: 992px) {
			margin-top: 5rem;
		}

		@media screen and (min-width: 1200px) {
			max-width: 1170px;

		}

		h3 {
			color: #131938;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: 54px;
		}

		p {
			color: #FFF;
			text-align: center;
			font-family: "Noto Sans";
			font-size: 20px;
			font-weight: 700;
			line-height: 27px;

			@media screen and (min-width: 992px) {
				max-width: 1136px;
				margin: 1rem auto 3rem;
			}

			@media screen and (min-width: 1200px) {
				margin: 1rem auto 9rem;
			}
		}

	}

}

blockquote {
	position: relative;
	font-style: italic;
	font-weight: 600;
	color: #000;
	font-size: 1.3em;
	line-height: 1.2;
	margin-bottom: 1.5em;
	margin-left: 1em;

	@media screen and (min-width: 576px) {
		margin-left: 0;
		font-size: 1.7em;
	}

	&:before {
		content: '';
		background-color: #FFBE27;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 7px;
		left: -1em;
	}
}

.content {
	p {
		font-style: normal;
		font-weight: normal;
		color: #000;
		font-size: 18px;

		@media screen and (min-width: 576px) {
			font-size: 20px;
			;
		}
	}
}

.cta-btn {
	background: $buttons-color;
	font-family: "Noto Sans";
	border-radius: 16px;
	padding: 16px 63px;
	color: #FFFFFF;
	border: 0;
	cursor: pointer;
	margin: auto;
	width: 100%;
	display: block;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;

	@media screen and (min-width: 576px) {
		// margin-bottom: 5rem;
		padding: 16px 30px;
		width: initial;
	}
}

// .cta-btn:hover {
// 	transition: 0.1s all linear;
// 	transform: scale(1.03);
// }

.cta-mini {
	font-family: 'Noto Sans', sans-serif;
	background: transparent;
	color: #161616;
	padding: 0;
	font-weight: 400;
	@include get-fs-lh(10.6005px, 13px, 320px);
	text-transform: none;
	box-shadow: none;
	width: max-content;
	outline: none;
	border: none;
	text-decoration: underline;

	@media screen and (min-width: 576px) {
		color: #fff;
		@include get-fs-lh(18px, 20px, 1024px);
	}

	@media screen and (min-width: 1200px) {
		font-size: 18px;
		line-height: 20px;
	}

}


.section-7 {

	.wrapper {
		margin: 0 auto;
		max-width: 95%;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 2rem 0;

		@media screen and (min-width: 1200px) {
			max-width: $max-width-const;
		}

		.box {
			border-radius: 20px;
			background: #FFFEFD;

			.boxHeader {
				display: flex;
				align-items: center;
				gap: 1rem;
				flex-direction: row-reverse;
				justify-content: space-between;
				padding: 25px;

				@media screen and (min-width: 992px) {
					padding: 25px 50px;
				}

				img {
					margin: 0;
				}

				h3 {
					color: #55A1EE;
					font-weight: 700;
					font-size: 22px;
					line-height: 27px;
					margin: 0;
				}
			}

			p {
				color: #333;
				font-weight: 400;
				font-size: 22px;
				line-height: 20.02px;
				margin: 1rem 1.5rem;
				display: none;

				@media screen and (min-width: 992px) {
					padding: 14px 100px 14px 50px;
					margin: 0;
				}

				&.show {
					display: block;
				}
			}
		}
	}
}

// form style
#mainForm {
	z-index: 10;

	@media screen and (min-width: 992px) {
		margin-top: 0;
	}
}

.lp-action {
	cursor: pointer;
}

.video-pic {
	cursor: pointer;
}

#myVideo {
	display: none;
}

.form-container {
	font-family: 'Noto Sans', sans-serif;
	background: #FFFFFF;
	border-radius: 10px;
	margin: 0px auto 0 auto;
	max-width: 345px;
	z-index: 10;
	scroll-margin-top: 15px;
	max-width: initial;

	@media screen and (min-width:768px) {
		margin: 4rem auto 0 auto;
		max-width: 637px;
	}

	@media screen and (min-width: 1200px) {
		max-width: 737px;
		margin: 0px auto 50px auto;
	}

	h2 {
		font-size: 20px;
		font-weight: 700;
		line-height: 25px;
		text-align: center;
		color: #55A1EE;
		padding: 20px 25px 4px;
		margin: 0;

		@media screen and (min-width:768px) {
			padding: 20px 15px 4px;
		}
	}



	.dss-ctr {
		display: flex;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

.user-inputs {
	padding: 0 15px;
	flex-direction: column;

	@media screen and (min-width: 768px) {
		padding: 0 10rem;
	}

	@media screen and (min-width: 992px) {
		padding: 0 7.8rem;
	}

	@media screen and (min-width: 1200px) {
		padding: 0 196px;
		flex-direction: unset;
	}

	div {
		max-width: 100%;
	}
}

.form-wrapper {

	h2 {
		color: #373737;
		font-size: 20px;
		font-weight: 700;
		margin: 0;
		padding: 20px 0px !important;
		text-align: center;
	}


	.form-group {
		position: relative;
		margin-bottom: 20px;
	}

	.form-control {
		background: #FFFFFF;
		background: #FFFFFF;
		border: 1px solid #BDBDBD;
		border-radius: 4px;
		height: 45px;
		margin-bottom: 0px;
	}

	.form-control:focus {
		border: 1px solid #989898;
		box-shadow: none;
	}

	.form-control[readonly] {
		background: #F2F2F2;
		border: 1px solid #C4C4C4;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		color: #464646;
	}

	.form-control-lg {
		border-radius: 24px;
		font-size: 14px;
		height: 45px;
		line-height: 1.5;
		// min-width: 243px;
		padding-left: 15px;

		@media screen and (min-width:768px) and (max-width: 991px) {
			min-width: 200px;
		}
	}

	.cfd-1 {
		font-family: 'Noto Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 23px;
		line-height: 1.4;
		text-align: center;
		color: #464646;
	}

	.cfd {
		color: #464646;
		font-size: 12px;
		font-weight: 400;
		line-height: 15.4px;
		margin-bottom: 0;
		padding: 10px;
		text-align: center;
		margin: 0 auto;
		max-width: 90vw;

		@media screen and (min-width:576px) {
			max-width: 50vw;
			font-size: 14px;
		}

		@media screen and (min-width:768px) {
			padding-top: 4px;
			padding-bottom: 24px;
			max-width: 100%;
		}

		@media screen and (min-width:1200px) {
			padding: 10px;
			font-size: 12px;
		}
	}

	.country {
		margin-bottom: 0;

		@media screen and (min-width:768px) {
			margin-bottom: 20px;
		}

		@media screen and (min-width:1200px) {
			margin-bottom: 0;
		}
	}

	.reg-btn {
		border: 0;
		border-radius: 26px;
		background: $buttons-color;
		color: #fff;
		cursor: pointer;
		display: block;
		font-weight: 700;
		font-size: 20px;
		line-height: 17.58px;
		margin: 0 auto;
		margin-bottom: 2rem;
		padding: 20px 5px;
		white-space: normal;
		width: 100%;


		@media screen and (min-width:576px) {
			margin-bottom: 1.2rem;
		}

		@media screen and (min-width:1200px) {
			margin-bottom: 1.2rem;
		}
	}

	.reg-btn:hover {
		transition: 0.1s all linear;
		transform: scale(1.03);
	}

	.pop-up-button {
		display: none;
	}

	.form-group label {
		position: absolute;
		z-index: 200;
		left: 15px;
		top: 13px;
		-webkit-transition: 0.1s all;
		-o-transition: 0.1s all;
		transition: 0.1s all;
		font-size: 14px;
		margin: 0;
	}

	.selected.form-group label {
		top: -16px;
		left: 0px;
		-webkit-transition: 0.1s all;
		-o-transition: 0.1s all;
		transition: 0.1s all;
		font-size: 12px;
	}

	.selected.form-group label[for="mobile"] {
		left: 0;
	}

	.active.form-group label {
		top: -16px;
		left: 0px;
		-webkit-transition: 0.1s all;
		-o-transition: 0.1s all;
		transition: 0.1s all;
		font-size: 12px;
	}

	.active.form-group label[for="mobile"] {
		left: 0;
	}

	.custom-select-lg {
		border-radius: 4px;
		font-size: 14px;
		height: 45px;
		line-height: 1.5;
		padding-top: .375rem;
		padding-bottom: .375rem;
		padding-left: 15px;
	}

	.nxreg-sign-up-phone-number-wrapper {
		label {
			left: 60px;
		}
	}

	.invalid-feedback {
		margin-top: 0;
		font-size: 14px;
		text-align: left;
	}

	.custom-control {
		padding-left: 0;
		margin-top: 0.2rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		@media screen and (min-width: 768px) and (max-width: 1199px) {
			align-items: center;
			margin-top: 0;
		}
	}

	.check-box {
		margin-top: 10px;
	}

	.custom-checkbox {
		.terms-link {
			font-family: 'Noto Sans', sans-serif;
		}
	}

	.custom-checkbox .custom-control-label {
		position: relative !important;
		left: 0;
		font-size: 13px;
		font-weight: 400;
		padding-left: 25px;
		padding-bottom: 15px;

		a {
			font-size: 13px;
			font-weight: 400;
			text-decoration: underline;
		}
	}

	.custom-checkbox .custom-control-label:before {
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
	}

	.custom-checkbox .custom-control-label:after {
		left: 0, 5px;
		width: 18px;
		height: 18px;
		top: 0;
		left: 0;
	}

	#msgContainer {
		color: red;
		padding: 0 15px;
		text-align: center;
		font-size: 14px;

		a {
			color: red;
			text-decoration: underline;
		}
	}

	.payments-container {
		.payment-form {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin: 12px auto; // 0 auto;
			width: 50%;

			@media screen and (min-width: 1200px) {
				width: 100%;
			}

			img {
				padding-right: 10px;
				min-width: 0;
				min-height: 0;
				margin: 10px 0;

				&:last-of-type {
					padding-right: 0;
				}
			}
		}
	}
}

.focusForm {
	animation: focusForm 0.7s ease-in-out 2;
}

@keyframes focusForm {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.03);
	}

	100% {
		transform: scale(1);
	}
}


/* Custom checkbox */
input[type="checkbox"] {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 18px;
	margin: 0;
	margin-right: 5px;
	vertical-align: middle;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #696969;
	transition: .4s;
}

.advertorial {
	text-decoration: underline;
	color: grey;
	padding-top: 40px;
	padding-bottom: 33px;

	@media screen and (min-width: 576px) {
		padding-bottom: 0px;
	}
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 2px;
	background-color: #fff;
	transition: .4s;
}

input:checked+.switch .slider {
	background-color: $buttons-color;
}

input:checked+.switch .slider::before {
	background-color: #fff;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
}

input:checked+.switch .slider::after {
	content: "";
	color: #fff;
	left: 20%;
	top: 30%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	position: absolute;
	width: 10px;
	height: 5px;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input:focus+.switch .slider {
	box-shadow: 0 0 1px #008dde;
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.check-box label {
	margin-bottom: 10px;
	position: absolute;
	top: 38%;
	transform: translateY(-50%);
}

.switch {
	position: relative;
}

.check-box span:not(.slider) {
	display: inline-block;
	color: #FFF;
	width: calc(92% - 45px);
	text-align: left;
	margin-left: 65px;
	vertical-align: top;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 20px;
}

.form-wrapper .form-group label.switch {
	position: relative;
	left: 0;
	top: 0;
	padding-right: 40px;
}

.terms-link {
	padding-top: 5px;
	color: #464646;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 13.2px;
	padding-left: 15px;

	a {
		font-weight: 300;
		text-decoration: underline;
	}
}

img:not(.full-width) {
	max-width: 100%;
	margin: 20px 0;
}

.top-logo {
	margin: 12px 0 !important;
}

.bottom-logo {
	margin: 6px 0 !important;

	@media screen and (min-width: 576px) {
		margin: 12px 0 !important;
	}

	@media screen and (min-width: 1200px) {
		margin: 20px 0 !important;
	}
}

.check-box span:not(.slider) {
	display: inline-block;
	width: calc(92% - 45px);
	text-align: left;
	margin-left: 65px;
	font-size: 15px;
	vertical-align: top;
	font-size: 0.8125em;
	margin-bottom: 20px;
}

textarea:focus,
input:focus,
button:focus {
	outline: none;
}

button:hover {
	cursor: pointer;
}

/* Thank you msg */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 999999;
	color: #585858;
	display: none;

	.container {
		height: 100%;

		.thank-you-msg {
			font-family: "Roboto", sans-serif;
			background-color: #fff;
			margin: 0 auto;
			width: 100%;
			max-width: 650px;
			border-radius: 25px;
			padding: 35px;
			text-align: center;

			@media screen and (min-width: 992px) {
				padding: 35px;
				text-align: left;
			}

			.img-wrapp {
				padding: 0;

				img {
					width: 150px;
					margin-top: 30px;
					margin-bottom: 30px;

					@media screen and (min-width: 576px) {
						width: 150px;
					}

					@media screen and (min-width: 992px) {
						width: 180px;
					}
				}
			}

			h3 {
				font-family: "Roboto", sans-serif;
				text-transform: uppercase;
				font-size: 26px;
				color: #06A2E4;
				font-weight: 700;
				margin: 0 auto;

				@media screen and (min-width: 576px) {
					font-size: 30px;
				}
			}

			p {
				font-family: "Roboto", sans-serif;
				margin-top: 18px;
				font-size: 18px;
				line-height: 1.5em;

				@media screen and (min-width: 576px) {
					font-size: 20px;
				}
			}

			.confirm {
				background: #06A2E4;
				font-size: 20px;
				color: #FFF;
				cursor: pointer;
				border-radius: 5px;
				padding: 5px 80px;
				font-weight: 100;
				text-shadow: none;
				opacity: 9;
				line-height: 1.5em;

				@media screen and (min-width: 576px) {
					padding: 10px 100px;
				}
			}

			.confirm:hover {
				color: #FFF;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
}

/* RESPONS CARD */
#msgContainer {
	color: red;
}

.respond-card {
	padding: 0 35px;
	background: #FFF;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.card-respond-wrapper {
	text-align: center;
	padding-top: 30px;

	h3 {
		color: #060751;
		text-align: center;
		font-family: 'Poppins';
		font-weight: 700;
		font-size: 28px;
		line-height: 42px;
		margin: 0;
		margin-bottom: 1rem;
		padding: 0;
	}

	h4 {
		color: #060751;
		text-align: center;
		font-family: 'Poppins';
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		margin: 0;
		margin-bottom: 1rem;
		padding: 0;
	}

	p {
		color: #060751;
		text-align: center;
		font-family: 'Poppins';
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0;
		padding: 0;
	}
}

.respond-header {
	font-size: 20px;
	padding: 12px 0px !important;
}

.respond-body {
	display: inline-block;
	padding: 15px !important;
	font-size: 18px;
	border-style: groove;
}

.card-body {
	padding: 0 !important;
	word-break: break-all !important;
}

.respond-btn {
	width: 100% !important;
	max-width: 360px !important;
	display: inline-block !important;
	background: #FF7532 !important;
	font-weight: 700 !important;
	font-size: 20px !important;
	color: white !important;
	margin: 20px 0 !important;
	color: white !important;
	text-transform: uppercase !important;
	padding: 10px 0 !important;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
	transition: 0.3s all ease-in-out !important;
	transform-origin: 50% 50% 50% !important;
	backface-visibility: hidden !important;
}

@media (min-width: 576px) {
	.respond-btn {
		width: auto !important;
		padding: 10px 65px !important;
	}
}

@media (min-width: 992px) {
	.respond-card {
		min-height: 480px;
	}

	.respond-btn {
		width: 100% !important;
		padding: 10px 0px !important;
	}
}

/* END RESPONS CARD */

.nxreg-form-loader-ctr {
	width: 345px;
	height: 464px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	.nxreg-form-loader {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border-left: 5px solid #ff066e;
		animation: rightrotate 900ms linear infinite;

		&::before,
		&::after {
			content: "";
			width: 120px;
			height: 120px;
			display: block;
			position: absolute;
			top: calc(50% - 60px);
			left: calc(50% - 60px);
			border-radius: 50%;
			border-right: 4px solid #3853de;
			animation: leftrotate 900ms linear infinite;
		}

		&::after {
			width: 90px;
			height: 90px;
			top: calc(50% - 45px);
			left: calc(50% - 45px);
			border: 0;
			border-left: 3px solid #efc000;
			animation: none;
		}

		@keyframes leftrotate {
			from {
				transform: rotate(0deg);
			}

			to {
				transform: rotate(720deg);
			}
		}

		@keyframes rightrotate {
			from {
				transform: rotate(360deg);
			}

			to {
				transform: rotate(0deg);
			}
		}
	}
}

// POP-UP Nxreg FORM
.open-popUpForm {
	cursor: pointer;
}

.close-popUpForm {
	display: none;
}

.form-text-h2 {
	display: block;
	padding-top: 3rem !important;
}

.overlay-1 {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(19, 25, 56, 0.98);
	padding: 4px;
	display: none;
	text-align: center;
	z-index: 9999;
	overflow: auto;

	.pop-up-form-text-h2 {
		display: block;

		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		text-align: center;
		color: #131938;
		padding: 34px 15px 4px !important;
		margin: 0;

		span {
			color: #FF7532;
		}
	}

	.pop-up-form-text-p {
		display: block;

		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #414141;
		padding: 10px 15px 4px !important;
		margin: 0 auto;
		max-width: 20rem;
	}

	.form-control {
		background: #FFFFFF;
		border: none;
		/* Remove all borders */
		border-bottom: 1px solid #BDBDBD;
		/* Add a border only at the bottom */
		border-radius: 0;
		/* Remove any border radius */
		height: 45px;
		margin-bottom: 0px;
	}

	.form-control:focus {
		border: none;
		/* Remove all borders */
		border-bottom: 1px solid #FF7532;
		/* Add a border only at the bottom */
		box-shadow: none;
	}

	.form-control[readonly] {
		background: #F2F2F2;
		border: none;
		/* Remove all borders */
		border-bottom: 1px solid #C4C4C4;
		box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
		color: #464646;
	}

	.terms-link {
		padding-top: 5px;
		color: #8B939B;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19.6px;
		padding-left: 14px;
		text-align: left;

		a {
			color: #8B939B;
			text-decoration: underline;
		}
	}

	.pop-up-button {
		display: block;

		cursor: pointer;
		border: 0;
		border-radius: 0;
		background: #FF7532;
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		margin: auto;
		margin-bottom: 2rem;
		padding: 20px 5px;
		white-space: normal;
		width: 100%;
	}

	.form-container {
		font-family: 'Noto Sans', sans-serif;
		background: #FFFFFF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
		border-radius: 0;
		margin: 0px auto 0 auto;
		max-width: 345px;
		z-index: 10;
		scroll-margin-top: 15px;
		max-width: initial;

		@media screen and (min-width: 1200px) {
			position: absolute;
			top: 0rem;
			max-width: 345px;
			margin: 0px auto 50px auto;
		}
	}

	// .form-control::placeholder {
	// 	color: #FF7532;
	// 	opacity: 1;
	// }

	.user-inputs {
		padding: 0 15px;
		flex-direction: column;

		// @media screen and (min-width: 768px) {
		// 	padding: 0 10rem;
		// }

		// @media screen and (min-width: 992px) {
		// 	padding: 0 16.8rem;
		// }

		@media screen and (min-width: 1200px) {
			padding: 0 15px;
			flex-direction: unset;
		}

		div {
			max-width: 100%;
		}
	}

	.form-container,
	.form-wrapper {
		max-width: none;

		.invalid-feedback {
			text-align: left;
		}
	}

	.form-container-popUp {
		position: relative;
		margin: 0 auto;
		right: 0;
		max-width: 340px;

		@media (min-width: 576px) {
			max-width: 390px;
		}
	}

	.close-popUpForm {
		display: block;
		// border-radius: 50%;
		border: none;
		font-size: 0;
		line-height: 0;
		color: #fff;
		background: #fff;
		position: absolute;
		cursor: pointer;
		right: 12px;
		top: 14px;
		height: 30px;
		width: 30px;
		z-index: 2;
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;

		img {
			margin: 0;
		}
	}

	.close-popUpForm:hover {
		transition: 0.5s;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		color: white;
	}
}

.iti-mobile .iti--container {
	z-index: 9999;
}

// END POP-UP Nxreg FORM